.confirm-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  background-color: #FF8882;
  color: white;
  border: 1px solid white;
}

.confirm-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.confirm-btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.confirm-btn {
  padding: 10px;
  border: none;
  background-color: #FFA384;
  border-radius: 5px;
  cursor: pointer;
}